/* ==== Estilos compartidos para perfil.html e index.html ==== */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* --- PERFIL --- */
.perfil-container {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
}

.foto-perfil {
    width: 200px;
    height: 400px;
    border-radius: 50px 0 0 0;
    object-fit: cover;
    border: 1px solid #ccc;
}

.info-perfil {
    margin-left: 5px;
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 8px 8px #888787;
    gap: 20px;
}

.nombre-titulo {
    color: orange;
    font-size: 28px;
    margin-bottom: 10px;
}

.descripcion {
    font-family: 'Georgia', serif;
    font-style: italic;
    margin-bottom: 15px;
}

.datos-lista {
    list-style-type: none;
    padding: 0;
}

.datos-lista li {
    margin-bottom: 8px;
}

.lenguajes {
    font-weight: bold;
}

.email-link {
    color: orange;
}

.email-link:active {
    color: red;
}

/* --- INDEX --- */
header, footer {
    background-color: #84b6f8;
}

header {
    color: whitesmoke;
}

footer {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: none;
    text-align: center;
    margin-top: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.nav-brand {
    font-size: 24px;
}

.ucv-text {
    font-size: 16px;
}

.search-form {
    display: flex;
}

.search-form input {
    padding: 5px;
    margin-right: 5px;
}

.search-form button {
    padding: 5px 10px;
}

section {
    padding: 20px;
}

.estudiantes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.estudiante-card {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.estudiante-card:hover {
    transform: scale(1.05) rotate(5deg);
    background-color: #99c5dd;
}

.estudiante-card:hover .estudiante-foto {
    transform: rotate(5deg);
}

.estudiante-foto {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s;
}

.estudiante-card:hover img {
    transform: scale(1.1) rotate(-3deg);
    transition: transform 0.4s ease;
}

.estudiante-card:hover p {
    color: white;
    transition: color 0.4s ease;
}


section div p{
    color: #84b6f8;
}

.estudiante-foto {
    width: 100px;
    height: 120px;
    margin-bottom: 10px;
}
